.home-slider {
}
.swiper-pagination {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: #00000029 0px 3px 6px 6px;
  padding: 5px 3px;
}
.swiper-pagination-bullet-active {
  background: #a7a9ac !important;
}
